/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/visually-hidden.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/breadcrumbs.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/header-button.scss";
@import "./blocks/hero-image.scss";
@import "./blocks/main-index.scss";
@import "./blocks/meal-plan.scss";
@import "./blocks/benefits.scss";
@import "./blocks/success-story.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/social-link.scss";
@import "./blocks/main-catalog.scss";
@import "./blocks/catalog.scss";
@import "./blocks/additional.scss";
@import "./blocks/promotions.scss";
@import "./blocks/hero-block.scss";
