.additional__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.additional__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.additional__value {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional__price {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.additional__desc {
  font-size: 16px;
  line-height: 20px;
}

.additional__bonus {
  background-image: url("../../icons/stack.svg#icon-gift");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-color: #68b738;
}
