.breadcrumbs__menu {
  background-image: url("../../icons/stack.svg#icon-menu");
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  height: 24px;
}

.breadcrumbs__list {
  display: none;
}

@media (min-width: 768px) {
  .breadcrumbs__menu {
    display: none;
  }

  .breadcrumbs__list {
    display: flex;
    gap: 33px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
