.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.catalog__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.catalog__weight {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__value {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__over-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.catalog__over-desc {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__over {
  background-image: url("../../icons/icon-more.svg");
  background-size: 30px 40px;
  background-repeat: no-repeat;
}
