.hero-block__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  color: #ffffff;
  margin-bottom: 25px;
}

.hero-block__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-block__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 44px;
  text-decoration: none;
  display: block;
}

.hero-block {
  margin: 0;
  margin-bottom: 20px;
  min-width: 320px;
  max-width: 1440px;
  text-align: center;
  padding: 0 20px;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hero-block {
    position: relative;
    margin: 0;
    padding: 0 30px;
  }

  .hero-block__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    margin: 0 97px 40px;
    padding: 0;
    max-width: 100%;
    text-align: left;
  }

  .hero-block__slogan {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 97px 21px;
    text-align: left;
  }

  .hero-block__link {
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    padding: 14px 26px;
    top: 234px;
    left: 117px;
    width: 243px;
  }
}
