.main-header__wrapper {
  min-width: 320px;
  display: flex;
  padding: 13px 20px;
  position: relative;
}


.main-header__logo-text {
  margin-top: 23px;
  margin-right: 65px;
}

.main-header__menu {
  background-image: url("../../icons/stack.svg#icon-menu");
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  right: 21px;
  padding: 0;
}

@media (min-width: 768px) {
  .main-header__wrapper {
    min-width: 768px;
    width: 768px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 25px 34px 65px 30px;
    justify-content: space-between;
  }

  .main-header__menu {
    display: none;
  }
}


@media (min-width: 1440px) {
  .main-header {
    background-image: linear-gradient(90deg, #ffffff 50%, #68b738d9 50%), image-set("../../images/index-background-desktop@1x.webp" 1x type("image/webp"), "../../images/index-background-desktop@2.webp" 2x type("image/webp"), "../../images/index-background-desktop@1.jpg" 1x type("image/jpg"), "../../images/index-background-desktop@2.jpg" 2x type("image/jpg")), linear-gradient(90deg, #ffffff 50%, #454449 50%);
    background-position: 100%, calc(50vw + 3px) 6px;
    background-repeat: no-repeat;
    background-size: auto, 1040px 694px;
    margin-bottom: 82px;
  }
}
