.map__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  width: 100%;
}

.map__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  width: 100%;
}

.map__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 26px 20px;
}

.map__images-mobile {
  display: none;
  border: none;
}

@media (min-width: 768px) {
  .map__text {
    justify-content: space-between;
    padding: 61px 70px;
  }

  .map__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #111111;
    width: 157px;
  }

  .map__address {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 157px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (min-width: 1440px) {
  .map {
    flex-grow: 1;
    align-items: flex-start;
    display: flex;
    position: relative;
  }

  .map__text {
    z-index: 1;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 565px;
    margin: 95px 0 106px calc(50vw - 610px);
    padding-left: 80px;
    padding-right: 78px;
    position: relative;
  }

  .map__images-mobile {
    position: absolute;
    top: 0;
    left: 0;
  }

  .map__google-map {
    border: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
