.map__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.map__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.map__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 26px 20px;
}

.map__images {
  width: 100%;
}

.map__images-mobile {
  display: none;
  border: none;
}
