.map__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.map__address {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.map__city {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
