.meal-plan__link--slim {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.meal-plan__item--slim::before {
  background-image: url("../../icons/stack.svg#cat-slim");
}

.meal-plan__item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 67px;
  height: 50px;
  display: block;
}

.meal-plan__item--pro::before {
  background-image: url("../../icons/stack.svg#cat-weight");
}

.meal-plan__link--pro {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.meal-plan__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.meal-plan__descr {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
