.meal-plan__link--slim {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  margin-left: 20px;
  text-decoration: none;
}


.meal-plan__link::after {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../icons/stack.svg#arrow");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 12px;
  margin-left: 15px;
  display: block;
}

.meal-plan__item--slim::before {
  background-image: url("../../icons/stack.svg#cat-slim");
}

.meal-plan__item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 53px;
  display: block;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.meal-plan__item--pro::before {
  background-image: url("../../icons/stack.svg#cat-weight");
}

.meal-plan__link--pro {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  margin-left: 20px;
  text-decoration: none;
}

.meal-plan__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 29px;
}

.meal-plan__descr {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  margin-left: 20px;
  margin-right: 33px;
  margin-bottom: 38px;
}

.meal-plan__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.meal-plan {
  padding: 20px;
}

.meal-plan__item {
  background-color: #f2f2f2;
  height: 266px;
}
