.nav-list__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .nav-list__link {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
  }
}
