.social-link__item-vk {
  background-image: url("../../icons/stack.svg#social-vk-mobile");
}

.social-link__item-youtube {
  background-image: url("../../icons/stack.svg#social-youtube-mobile");
}

.social-link__item-tg {
  background-image: url("../../icons/stack.svg#social-academy-mobile");
}
