.social__link--vk::before {
  mask-image: url("../../icons/stack.svg#icon-vk");
}

.social__link::before {
  content: "";
  background-color: #666666;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 22px;
  display: block;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}


.social__link--tg::before {
  mask-image: url("../../icons/stack.svg#icon-tg");
}

.social__link--youtube::before {
  mask-image: url("../../icons/stack.svg#icon-youtube");
}

.social__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.social-link__logo {
  margin-left: 96px;
  margin-right: 96px;
}

.social__link--academy-link {
  margin-left: 20px;
  margin-right: 20px;
}
