.success-story {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  background-color: #eaeaea;
}

.success-story__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  margin-top: 25px;
}

.success-story__desc {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  min-width: 280px;
  margin-bottom: 20px;
}

.success-story__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.success-story__toggle {
  cursor: pointer;
  background: 0 0;
  border: none;
  width: 40px;
  height: 256px;
  padding: 0;
  position: absolute;
  left: 120px;
}

.success-story__loss-params {
  grid-column-gap: 32px;
  grid-template-columns: 124px 124px;
  display: grid;
}

.success-story__list {
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  margin: 0 0 34px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.success-story__description {
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  flex-direction: column;
  width: 124px;
  min-height: 56px;
  display: flex;
  position: relative;
}

.success-story__weight {
  text-align: center;
  color: #444444;
  text-transform: lowercase;
  background-color: #eaeaea;
  width: 77px;
  margin: 0 auto -15px;
  padding-left: 4px;
  padding-right: 6px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.success-story__value {
  text-align: center;
  text-transform: uppercase;
  order: -1;
  margin: 14.47px 0 7.5px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.success-story__option {
  text-align: center;
  color: #444444;
  text-transform: lowercase;
  background-color: #eaeaea;
  width: 77px;
  margin: 0 auto -15px;
  padding-left: 4px;
  padding-right: 6px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.success-story__price {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.success-story__slider {
  grid-template-columns: 1fr 1fr;
  width: 280px;
  display: grid;
  position: relative;
  margin: auto;
}

.success-story__slider picture {
  width: 140px;
  position: relative;
  overflow: hidden;
}

.success-story__image-before,
.success-story__image-after {
  width: max-content;
  display: block;
}

.success-story__image-after {
  position: absolute;
  left: -140px;
}

.success-story__range-toggle {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #666666;
  background-color: #ffffff;
  position: absolute;
  top: 110px;
}

.success-story__range-toggle::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  mask-size: 24px 18px;
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#slider-thumb");
}

.success-story__toggle::after {
  content: "";
  background-color: #666666;
  border-radius: 2px;
  width: 4px;
  height: 256px;
  margin: 0 auto;
  display: block;
}

.success-story__toggle {
  position: absolute;
  width: 40px;
  height: 256px;
  left: 120px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

@media (min-width: 768px) {
  .success-story {
    background-color: #ffffff;
    padding: 0 30px;
    background-image: linear-gradient(0deg, #eaeaea 462px, #ffffff 462px);
    border-top: 1px solid #e6e6e6;
  }

  .success-story__wrapper {
    height: 518px;
    width: 708px;
    margin: 0 auto;
  }

  .success-story__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin: 45px 0 40px;
  }

  .success-story__description {
    width: 162px;
  }

  .success-story__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .success-story__list {
    float: left;
    gap: 43px;
    width: 367px;
    margin-bottom: 104px;
  }

  .success-story__weight-loss {
    width: 291px;
    margin-left: -428px;
  }

  .success-story__value {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }

  .success-story__weight {
    background-color: #ffffff;
    min-width: 114px;
    margin-bottom: -6px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
  }

  .success-story__option {
    background-color: #ffffff;
    min-width: 114px;
    margin-bottom: -6px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    width: 142px;
  }

  .success-story__text {
    margin-bottom: 55px;
  }

  .success-story__price {
    position: relative;
    right: -541px;
    top: -163px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    width: 174px;
    text-align: right;
  }

  .success-story__slider picture {
    width: 280px;
    left: -138px;
  }

  .success-story__slider {
    padding-bottom: 94px;
  }

  .success-story__image-after {
    left: -280px;
  }

  .success-story__toggle {
    height: 240px;
  }

  .success-story__toggle::after {
    height: 510px;
  }

  .success-story__range-toggle {
    top: 100%;
  }
}
