.success-story {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.success-story__text {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.success-story__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.success-story__desc {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  min-width: 280px;
}

.success-story__weight-loss {

}

.success-story__weight {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0;
  text-align: center;
}

.success-story__weight-text {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.success-story__time {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
}

.success-story__time-text {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.success-story__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  grid-column: span 2;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.success-story__toogle {
  display: block;
  width: 4px;
  height: 512px;
  background: #666666;
  padding: 0;
  border: none;
}

.success-story__loss-params {
  grid-column-gap: 32px;
  grid-template-columns: 124px 124px;
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
}
