.success-story__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.success-story__desc {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.success-story__weight-loss{

}

.success-story__weight {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.success-story__weight-text {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.success-story__time {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.success-story__time-text {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}

.success-story__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.success-story__toogle {
  display: block;
  width: 4px;
  height: 512px;
  background: #666666;
  padding: 0;
  border: none;
}
